.login-container {
  background-color: rgb(251, 251, 251);
  display: flex;
}
  
.login-text-container {
  background-color: #16D8B3;
  color:rgba(255, 255, 255, 0.959);
  font-size: large;
  padding: 5px 7%;
  padding-top: 15%;
  text-align: center;
  width: 15%;
}

.login-form-container {
  background-color: rgba(255, 255, 255, 0.911);
  display: flex;
  flex-direction: column;
  width: 45%;
}

.inputs {
  border: 1px rgba(169, 169, 169, 0.753) solid;
  border-radius: 5px;
  font-size: large;
  margin: 5px;
  padding: 10px;
  width: 70%;
}

.green-button {
  background-color: #16D8B3;
  border: 1px rgba(50, 116, 96, 0.76);
  border-radius: 5px;
  color: aliceblue;
  font-size: large;
  margin: 30px;
  padding: 12px;
  width: 45%;
}

.green-button:hover {
  background-color: #16d8b49a;
}

.nav-bar-container {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 4%;
}

a {
  color: black;
  font-size: large;
  margin: 10px;
  text-decoration: none;
}

a:hover {
  color: rgba(0, 0, 0, 0.65);
}

.nav-sair {
  color: #5b69eb;
  display: flex;
  flex-direction: column;
  margin-top: 120%;
  text-align: center;
}

.sponsors-container {
  background-color: rgb(243, 243, 243);
  color: black;
  display: flex;
  height: 100%;
}

.sponsors-container-2 {
  margin: 10px;
  padding: 10px;
  width: 100%;
  height: auto;
}

.dashboard-container {
  background-color: rgb(243, 243, 243);
  display: flex;
}

.table-container {
  background-color: white;
  border-radius: 10px;
  margin: 50px;
  padding: 50px;
  text-align: center;
}

.table-container tr td {
  margin: 10px;
  padding: 20px;
}

h2, h3 {
  color: rgba(0, 0, 0, 0.596);
}

.link-purple a {
  position: fixed;
  background-color: #6876F7;
  border-radius: 5px;
  color: white;
  padding: 6px;
  margin-left: 60%;
}

.link-purple a:hover {
  background-color: #6876f7ab;
}

.create-sponsor-container {
  background-color: rgb(243, 243, 243);
  display: flex;
}

.create-sponsor-container-2 {
  margin: 30px;
  width: 100%;
}

.form-create-sponsor {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  margin: 10% 20%;
  padding: 20px;
}

.form-create-sponsor input {
  margin: 15px;
  padding: 10px;
}

.form-create-sponsor-buttons {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  width: 100%;
}

.form-create-sponsor-buttons a {
  background-color: #6876F7;
  border-radius: 3px;
  color: white;
  padding: 5px;
}

.form-create-sponsor-buttons a:hover {
  background-color: #6876f798;
};
